/* Keep this here to avoid creating a new bundle that breaks Safari */
@import "npm:webext-base-css";

:root {
	max-width: 30em;
}

.field {
	display: flex;
	align-items: baseline;
	gap: 0.7em
}

[type='checkbox'] {
	margin: 0;
	align-self: start;
}

#serverPort {
	width: 7em;
}
